
.idea/Brain.iml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/workspace.xml
.pylintrc
.vscode/launch.json
.vscode/settings.json
__pycache__/Main.cpython-36.pyc
__pycache__/main_window.cpython-36.pyc
build/ui/Analysis-00.toc
build/ui/base_library.zip
build/ui/Brain MRI Tool.exe
build/ui/COLLECT-00.toc
build/ui/EXE-00.toc
build/ui/PKG-00.pkg
build/ui/PKG-00.toc
build/ui/PYZ-00.pyz
build/ui/PYZ-00.toc
build/ui/Tree-00.toc
build/ui/Tree-01.toc
build/ui/ui.exe.manifest
build/ui/warn-ui.txt
build/ui/xref-ui.html
Core/__pycache__/BetDis.cpython-36.pyc
Core/batch/__pycache__/batch.cpython-36.pyc
Core/bet/hd-bet_params/0.model
Core/bet/hd-bet_params/1.model
Core/bet/hd-bet_params/2.model
Core/bet/hd-bet_params/3.model
Core/bet/hd-bet_params/4.model
Core/conda_install.exe
Core/hippoSeg/liviaTest_Epoch10
Core/hippoSeg/liviaTest_Epoch4
Core/hippoSeg/liviaTest_Epoch5
Core/hippoSeg/liviaTest_Epoch7
Core/install.bat
Design/
generated_doc.docx
log.txt
outputCPP.nii
outputFiles/LiviaNet_Test/Pred/Testing/ProbMap_class_1_MR_img003.nii
outputFiles/LiviaNet_Test/Pred/Testing/ProbMap_class_1_MR_img005.nii
outputFiles/LiviaNet_Test/Pred/Testing/ProbMap_class_2_MR_img003.nii
outputFiles/LiviaNet_Test/Pred/Testing/ProbMap_class_2_MR_img005.nii
outputFiles/LiviaNet_Test/Pred/Testing/Segmentation_MR_img003.nii
outputFiles/LiviaNet_Test/Pred/Testing/Segmentation_MR_img005.nii
outputResult.nii
plotImage.ipynb
RadioFeatureTools.ipynb
requirements.txt
temp.txt
TempDir/
testSimple.py
ui.spec
UI/__pycache__/
UI/resource.py
Core/__pycache__/
Core/batch/__pycache__/
UI/__pycache__/
Core/__pycache__/
Core/batch/__pycache__/
UI/__pycache__/
*.pyc
